:root {
    --dark-primary-color:#2C2C2C;
    --primary-color:#AABD8C;
    --accent-color:#F39B6D;
    --dark-background: #E9E3B4;
    --background: #FFF9EC;
}
body {
    width: 100%;
    height: 100%;
    background-color: white;
    color: var(--dark-primary-color);
}

header {
    box-shadow: 0 2px 5px var(--dark-primary-color);
    background-color: white;
}

header .top {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.material-icons {
    vertical-align: middle;
    line-height: 1px;
    margin-right: 5px;
}

.core {
    padding: 50px 15%;
}

.service-card {
    flex: 1;
    margin: 30px;
    height: 100%;
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 5px;
    overflow: hidden;
}

h2 {
    color: white;
}

footer {
    height: 100px;
    background-color: var(--dark-primary-color);
}
